@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Rubik";
  }
  .text-bg::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 6rem;
      color: rgba(0, 0, 0, 0.1);
      white-space: nowrap;
      z-index: -1;
    }
}
